.ui-button {
  .button {
    width: 100%;
  }

  .button.sm {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 36px;
  }

  &-icon {
    display: flex;
    align-items: center;

    .ui-icon {
      margin-left: auto;
    }
  }

  &-group {
    display: flex;
    align-items: center;
    > div + div {
      margin-left: 0.8rem;
    }

    &.center {
      justify-content: center;
    }
  }
}
