.data-tbl {
  position: relative;
  overflow: auto;
  width: 100%;
  height: auto;

  table {
    margin: 0 0 0 -1px;
    table-layout: fixed;
    width: 100%;

    caption {
      font-size: 0.1rem;
      opacity: 0;
      position: absolute;
      left: 0rem;
      top: -1rem;
      overflow: visible;
    }

    thead {
      position: sticky;
      top: 0;
      z-index: 300;
      border-spacing: 3px;

      &::before,
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 300;
        width: 100%;
        height: 1px;
        content: '';
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      th {
        font-size: 1.4rem;
        font-weight: 400;
        background: rgb(31, 41, 55);
        color: #fff;
      }
    }

    th,
    td {
      padding: 1.4rem;
      border-top: 0 !important;
      border-bottom: 0.1rem solid rgb(31, 41, 55);
      text-align: center;
      line-height: 1.9rem;
      background: rgb(31, 41, 55);
      color: rgb(156 163 175);
      font-weight: 400;
    }
  }

  &.bordered {
    th,
    td {
      border: 0.1rem solid rgb(31, 41, 55);
      border-right: 0;
    }
  }

  &.s-sm {
    th,
    td {
      padding: 1rem;
    }
  }

  &.striped {
    tbody {
      tr:nth-child(2n) {
        td {
          background: #fff;
        }
      }
    }
  }
}
