.ui-icon {
  position: relative;
  display: inline-block;

  &.check-symbol {
    width: 6.4rem;
    height: 6.4rem;
    background: url('/images/components/check-symbol.svg') no-repeat;
    background-size: 100%;
  }

  &.eye {
    width: 2.4rem;
    height: 2.4rem;
    background: url('/images/icon/icon-eye.svg') no-repeat;
    background-size: 100%;

    &-on {
      width: 2.4rem;
      height: 2.4rem;
      background: url('/images/icon/icon-eye-on.svg') no-repeat;
      background-size: 100%;
    }
  }

  &.arrow {
    width: 2.4rem;
    height: 2.4rem;
    background: url('/images/icon/icon-arrow.svg') no-repeat;
    background-size: 100%;
  }

  &.none {
    width: 6.4rem;
    height: 6.4rem;
    background: url('/images/icon/icon-nonedata.svg') no-repeat;
    background-size: 100%;
  }
}
