.ui-textarea {
  width: 100%;
  textarea {
    border: 0.1rem solid rgb(163, 163, 163);
    color: #fff;
    background: rgb(55, 65, 81);
    resize: none;
    padding: 2rem;
    display: flex;
    width: 100%;

    ::placeholder {
      color: rgb(156 163 175);
    }
  }
}
