img {
    max-width: 100%;
}

html, body, * {
    font-family: 'Noto Sans KR','Merriweather','roboto', sans-serif;
}

em {
    font-family: 'Merriweather';
    font-style: normal;
    letter-spacing: -0.03rem;
}

